<%- include("partials/head.ejs") %> <%- include("partials/nav.ejs") %>
<!-- editContact.ejs -->
<h2>Modifier le contact</h2>
<main class="container-fluid d-flex flex-column min-vh-100">
  <form action="/contacts/<%= contact._id %>?_method=PATCH" method="POST">
    <input type="hidden" name="_method" value="PATCH" />
    <!-- Utilisation de method-override -->

    <div class="form-group">
      <label for="firstname">Prénom</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        class="form-control"
        value="<%= contact.firstname %>"
        required
      />
    </div>

    <div class="form-group">
      <label for="lastname">Nom</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        class="form-control"
        value="<%= contact.lastname %>"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        value="<%= contact.email %>"
        required
      />
    </div>

    <div class="form-group">
      <label for="phone">Téléphone</label>
      <input
        type="tel"
        id="phone"
        name="phone"
        class="form-control"
        value="<%= contact.phone %>"
      />
    </div>

    <div class="form-group">
      <label for="company">Entreprise</label>
      <input
        type="text"
        id="company"
        name="company"
        class="form-control"
        value="<%= contact.company %>"
      />
    </div>

    <div class="form-group">
      <label for="jobTitle">Poste</label>
      <input
        type="text"
        id="jobTitle"
        name="jobTitle"
        class="form-control"
        value="<%= contact.jobTitle %>"
      />
    </div>

    <div class="form-group">
      <label for="address">Adresse</label>
      <textarea id="address" name="address" class="form-control" rows="4">
<%= contact.address %></textarea
      >
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </form>
</main>
<%- include("partials/footer.ejs") %>
