<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Mes contacts</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('partials/nav.ejs'); %>

    <div class="container mt-3">
      <main class="container-fluid d-flex flex-column min-vh-100">
        <h1>Carnet d'adresse</h1>

        <% if (contacts && contacts.length > 0) { %>
        <h2>Liste des contacts :</h2>
        <ul class="list-group">
          <% contacts.forEach(contact => { %>
          <li class="list-group-item">
            <h5 class="mb-1">
              <%= contact.firstname %> <%= contact.lastname %>
            </h5>
            <div class="row">
              <div class="col-md-6">
                <p class="mb-0"><strong>Email:</strong> <%= contact.email %></p>
                <p class="mb-0">
                  <strong>Téléphone:</strong> <%= contact.phone %>
                </p>
                <% if (contact.company) { %>
                <p class="mb-0">
                  <strong>Entreprise:</strong> <%= contact.company %>
                </p>
                <% } %> <% if (contact.jobTitle) { %>
                <p class="mb-0">
                  <strong>Poste:</strong> <%= contact.jobTitle %>
                </p>
                <% } %>
              </div>
              <div class="col-md-6">
                <% if (contact.address) { %>
                <p class="mb-0">
                  <strong>Adresse:</strong><br />
                  <%= contact.address %><br />
                </p>
                <% } %>
              </div>
            </div>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        <p class="text-center">Aucun contact trouvé.</p>
        <% } %>
      </main>
    </div>

    <br />

    <%- include("partials/script.ejs") %>
    <script src="/public/search.js"></script>
  </body>
  <%- include("partials/footer.ejs") %>
</html>
